pipeline/pl_stage_risk.json
{
	"name": "pl_stage_risk",
	"properties": {
		"activities": [
			{
				"name": "update extended attr",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_stage_risk",
						"type": "DataFlowReference",
						"parameters": {
							"isRiskUpdateOnly": {
								"value": "@variables('isRiskUpdateOnly')",
								"type": "Expression"
							},
							"policyPrefix": {
								"value": "'@{pipeline().globalParameters.policyPrefix}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Switch1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "isRiskUpdateOnly",
					"value": true
				}
			},
			{
				"name": "risk",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_stage_risk",
						"type": "DataFlowReference",
						"parameters": {
							"isRiskUpdateOnly": "false()",
							"policyPrefix": {
								"value": "'@{pipeline().globalParameters.policyPrefix}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "risk",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().globalParameters.policyPrefix",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "EMP",
							"activities": [
								{
									"name": "riskDetail_EMP",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_stage_risk_details",
											"type": "DataFlowReference"
										},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						},
						{
							"value": "CFA",
							"activities": [
								{
									"name": "riskDetail_CFA",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "df_stage_risk_details_cfa",
											"type": "DataFlowReference"
										},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"isRiskUpdateOnly": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "Staging Data Movement"
		},
		"annotations": []
	}
}