pipeline/pl_source_agencyproducer.json
{
	"name": "pl_source_agencyproducer",
	"properties": {
		"activities": [
			{
				"name": "Agency Data Flow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Agency MaxId Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_source_agency",
						"type": "DataFlowReference",
						"parameters": {
							"DF_max_id": {
								"value": "@activity('Agency MaxId Lookup').output.firstRow.maxId",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Agency MaxId Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT isnull(MAX(AGENCY_ID), 0) as maxId\nFROM dbo.POL_AGENCY",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_source_stage_agency",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Agency MaxId Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Agency Data Flow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT isnull(MAX(AGENCY_ID), 0) as maxId\nFROM dbo.POL_AGENCY",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_source_stage_agency",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Producer Data Flow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Agency MaxId Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_source_producer",
						"type": "DataFlowReference",
						"parameters": {
							"DF_max_id": {
								"value": "@activity('Agency MaxId Lookup1').output.firstRow.maxId",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"folder": {
			"name": "Source Data Movement/ecm/pipeline_reference"
		},
		"annotations": []
	}
}