pipeline/pl_source_genaddress.json
{
	"name": "pl_source_genaddress",
	"properties": {
		"activities": [
			{
				"name": "Gen Address MaxId Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT isnull(MAX(GEN_ADDRESS_UNIQ_ID), 0) as maxId\nFROM dbo.GEN_ADDRESS",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_source_stage_genAddress",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Gen Address MaxId Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Location Address Data flow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT isnull(MAX(GEN_ADDRESS_UNIQ_ID), 0) as maxId\nFROM dbo.GEN_ADDRESS",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_source_stage_genAddress",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Location Address Data flow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Gen Address MaxId Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_source_locationgenaddress",
						"type": "DataFlowReference",
						"parameters": {
							"DF_max_id": {
								"value": "@activity('Gen Address MaxId Lookup').output.firstRow.maxId",
								"type": "Expression"
							},
							"policyPrefix": {
								"value": "'@{pipeline().globalParameters.policyPrefix}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Insured Address Data flow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Gen Address MaxId Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_source_insuredgenaddress",
						"type": "DataFlowReference",
						"parameters": {
							"DF_max_id": {
								"value": "@activity('Gen Address MaxId Lookup1').output.firstRow.maxId",
								"type": "Expression"
							},
							"policyPrefix": {
								"value": "'@{pipeline().globalParameters.policyPrefix}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"folder": {
			"name": "Source Data Movement/ecm/pipeline_reference"
		},
		"annotations": []
	}
}